<section id="about" class="about-user">
  <h2 class="title-heading">A Little About me..........</h2>
  <div class="user__info">
    <div class="user__pic">
      <div id="pic-boundary">
        <div class="profile-pic"></div>
      </div>
    </div>
    <div class="user-desc">
        <div *ngFor="let item of about">
          <div [innerHTML]="item?.desc | mdToHtml"></div>
        </div>
        <br />
        <br />
        <ul class="skills-list" *ngFor="let item of (about); let i = index">
          <li *ngFor="let listItem of item.skills">
            {{listItem}}
          </li>
        </ul>
    </div>
  </div>
</section>
