<footer class="footer">
    <ul class="social-links">
      <li>
        <a href="https://github.com/jaspersamdavid" aria-label="GitHub">
          <i-feather class="icon" name="Github"></i-feather>
        </a>
     </li> 
     <li>
      <a href="https://www.linkedin.com/in/jasper-sam-david-thomas-alva-edison/" aria-label="Linkedin">
        <i-feather class="icon" name="LinkedIn"></i-feather>
      </a>
   </li> 
   <li>
    <a href="https://t.me/jaspersamdavid" aria-label="Telegram">
      <i-feather class="icon" name="send"></i-feather>
    </a>
 </li> 
   <li>
    <a href="https://instagram.com/jasper.sam.9" aria-label="Instagram">
      <i-feather class="icon" name="Instagram"></i-feather>
    </a>
 </li> 
 <li>
  <a href="https://www.facebook.com/jasper.sam.9" aria-label="Facebook">
    <i-feather class="icon" name="Facebook"></i-feather>
  </a>
</li> 
      </ul>

    <div class="credits">
        <a href="https://github.com/jaspersamdavid">
            <p>Designed & Built by Jasper Sam David Thomas Alva Edison</p>
        </a>
    </div>
</footer>
