<!-- <div class="emptybox">
</div>
<div class="backgroundpic">
<section class="main-section">
  <p class="sec__heading">Hi, my name is</p>
  <div class="heading">
    <h1 class="name__heading">Jasper Sam David Thomas Alva Edison.</h1>
    <h1 class="role__heading">I am a Full-Stack Web Developer.</h1>
  </div>
  <p class="sec__desc" >
    Based in North Plainfield, New Jersey.My Passion is to learn new technologies and in bringing the 
    desired dreams and ideas to life using latest trends and innovations to go above and beyond the user's satisfaction along with 
    buliding an efficient and robust application.
  </p>
  <div class="btn-container">
    <a class="btn" href="/assets/resume.pdf">Resume</a>
  </div>
</section>
</div> -->

<div class="bg-image"></div>

<div class="bg-text">
  <section class="main-section">
    <p class="sec__heading">Hi, my name is</p>
    <div class="heading">
      <h1 class="name__heading">Jasper Sam David Thomas Alva Edison.</h1>
      <h1 class="role__heading">I am a Full-Stack Web Developer.</h1>
    </div>
    <p class="sec__desc" >
      Based in North Plainfield, New Jersey.My Passion is to learn new technologies and in bringing the 
      desired dreams and ideas to life using latest trends and innovations to go above and beyond the user's satisfaction along with 
      buliding an efficient and robust application.
    </p>
    <div class="btn-container">
      <a class="btn" href="/assets/resume.pdf">Resume</a>
    </div>
  </section>
</div>
